<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagar.betaversion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_manit_logo"
        android:label="MANITkart"
        android:roundIcon="@mipmap/ic_manit_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".displayAds.verifyAd"></activity>
        <activity android:name=".displayAds.myAdsAll" />
        <activity android:name=".about" />
        <activity android:name=".FinalImagePreview" />
        <activity
            android:name=".FinalProductView"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".displayAds.ListAd"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".BetaVersion"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".postAds.otherAds"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".postAds.electronics"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".postAds.vehicle"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".postAds.newAdActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignupActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".auth.myAccount"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".auth.profile"
            android:screenOrientation="nosensor" />
    </application>

</manifest>