<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagar.betaversion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Beta Version"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity android:name=".myAds.myMisc"></activity>
        <activity android:name=".myAds.myBooks" />
        <activity android:name=".myAds.myElectronic" />
        <activity android:name=".myAds.myVehicle" />
        <activity android:name=".myAds.myAdActivity" />
        <activity
            android:name=".FinalProductView"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ListAd"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".BetaVersion"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AdCategory.otherAds"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AdCategory.electronics"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AdCategory.vehicle"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".newAdActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".myAccount"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".profile"
            android:screenOrientation="nosensor" />
    </application>

</manifest>