<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manitkart.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_manit_logo"
        android:label="MANITkart"
        android:roundIcon="@mipmap/ic_manit_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.manitkart.app.privacy_policy" />
        <activity android:name="com.manitkart.app.displayAds.verifyAd" />
        <activity android:name="com.manitkart.app.displayAds.myAdsAll" />
        <activity android:name="com.manitkart.app.about" />
        <activity android:name="com.manitkart.app.FinalImagePreview" />
        <activity
            android:name="com.manitkart.app.FinalProductView"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.displayAds.ListAd"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.BetaVersion"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.postAds.otherAds"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.postAds.electronics"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.postAds.vehicle"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.postAds.newAdActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.auth.LoginActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manitkart.app.auth.SignupActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.auth.myAccount"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.manitkart.app.auth.profile"
            android:screenOrientation="nosensor" />
    </application>

</manifest>